/*
    Color palette :
    Primary : #182337
    Used almost everywhere
    Accent : #979073
    Used for important things
    Warn/error : #B54444
    Used for errors etc

    Link to see palette : http://www.palettable.io/182337-979073-105DA1-B54444
*/

.primary-background{
    background-color:#182337 !important;
}

.primary-foreground{
    color:#182337 !important;
}

.accent-background{
    background-color:#979073 !important;
}

.accent-foreground{
    color:#979073 !important;
}

.white-background{
    background-color:white !important;
}

.white-foreground{
    color:white !important;
}

.warn-background{
    background-color:#B54444 !important;
}

.warn-foreground{
    color:#B54444 !important;
}

.hover_primary:hover{
    background-color:#182337 !important;
    color:white;
}