.players {
  z-index: 5;
  position: absolute;
  padding-top: 10px;
  padding-right: 10px;
  right: 0;
  text-align: right;
  font-size: 1.5em;
}

.hp{
    z-index:5;position: absolute;
    padding-top:10px;
    padding-left:10px;
    left:0;
    text-align:left;
    font-size:1.5em;
}

.login_box_back{
    background-color: rgba(40,46,49,0.5);
    bottom: 0;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000002;
}

.login_box_container{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
    margin: 150px auto;
    position: relative;
    width: 90%;
}

.big_button{
    width:100%;
    margin-top:15px;
}

